@font-face {
  font-family: "iconfont"; /* Project id 5110977 */
  src: url('//at.alicdn.com/t/c/font_5110977_7b5thvytle3.woff2?t=1768903153150') format('woff2'),
       url('//at.alicdn.com/t/c/font_5110977_7b5thvytle3.woff?t=1768903153150') format('woff'),
       url('//at.alicdn.com/t/c/font_5110977_7b5thvytle3.ttf?t=1768903153150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yisheng:before {
  content: "\e749";
}

.icon-wode-selected:before {
  content: "\e82b";
}

.icon-bingli:before {
  content: "\e810";
}

.icon-renzheng:before {
  content: "\e811";
}

.icon-xingji:before {
  content: "\e812";
}

.icon-wenzhen:before {
  content: "\e814";
}

.icon-shequ:before {
  content: "\e813";
}

.icon-yiyuan:before {
  content: "\e815";
}

.icon-dizhi:before {
  content: "\e816";
}

.icon-liaocheng:before {
  content: "\e817";
}

.icon-shuoming:before {
  content: "\e818";
}

.icon-bianji:before {
  content: "\e819";
}

.icon-shuru:before {
  content: "\e81a";
}

.icon-shanchu:before {
  content: "\e81b";
}

.icon-lishi:before {
  content: "\e81c";
}

.icon-dianzan:before {
  content: "\e81d";
}

.icon-shezhi:before {
  content: "\e81e";
}

.icon-huihua:before {
  content: "\e81f";
}

.icon-chazhao:before {
  content: "\e820";
}

.icon-shouye:before {
  content: "\e821";
}

.icon-wode:before {
  content: "\e822";
}

.icon-xihuan:before {
  content: "\e823";
}

.icon-dingdan:before {
  content: "\e824";
}

.icon-dingwei:before {
  content: "\e825";
}

.icon-quanke:before {
  content: "\e826";
}

.icon-shouye-selected:before {
  content: "\e827";
}

.icon-huihua-selected:before {
  content: "\e828";
}

.icon-liaocheng-selected:before {
  content: "\e829";
}

.icon-shequ-selected:before {
  content: "\e82a";
}

.icon-faxian:before {
  content: "\e80f";
}
